@font-face {
    font-family: Digital-7 Mono;
    src: url(digital-7.ttf);
}
.font-color{
    background: linear-gradient(to bottom,#2980b9,#2c3e50);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
#time{
    text-shadow: 0 0 55px #2980b9;
    font-size: 3.5rem;
}
.dayDiv{
    display: flex;
    flex-direction: row;
}
.dayDiv span{
    font-size: 0.9rem;
    opacity: 0.4;
    margin:0 4px;
}
.content{
    float: right;
}