@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    min-height: 100%;
    background: rgb(231,229,237);
    background: linear-gradient(180deg, rgba(231,229,237,1) 0%, rgba(145,154,157,1) 41%, rgba(28,52,61,1) 100%);
}

*{
    font-family: 'Ubuntu', sans-serif;
}

/* Styles for login page */
#login-form, #register-form{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ebeced;
    box-shadow: 2px 2px 8px black;
    color: black;
    width: fit-content;
    padding: 30px;
    border: none;
    border-radius: 10px;
}

#login-ph:hover, #register-ph:hover{
    text-decoration: underline;
    width: fit-content;
}

#login-form input[type=text], input[type=password], input[type=submit], #register-form input[type=text], input[type=password], input[type=submit], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=button]{
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid rgb(23, 44, 52);
    transition-duration: 0.4s;
}

input[type=submit]:hover, input[type=button]:hover{
    background-color: rgb(23, 44, 52);
    color: white;
}

#err-msg-error{
    font-style: italic;
    color: darkred;
}
#err-msg-success{
    font-style: italic;
    color: darkgreen;
}

.page-cont{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 50px;
}

#calendar{
    clear: both;
}

textarea{
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* Task page styles */
#add-task-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-cont #add-task-form{
    border: 3px solid black;
    box-shadow: 10px 10px 1px black;
    padding: 30px;
    border-radius: 10px;
    background-color: #ebeced;
}

.page-cont .form_elem{
    width: 100%;
}

#add-task-form input[type="text"], input[type="date"], .edit-task-form input[type="text"], input[type="date"], #people-search input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.page-cont #tasks-elem{
    border: 3px solid black;
    box-shadow: 10px 10px 1px black;
    padding: 30px;
    border-radius: 10px;
    background-color: #ebeced;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#tasks-elem .ind-task{
    background-color: #fab700;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    transition-duration: 0.4s;
}

#tasks-elem .ind-task:hover{
    box-shadow: 4px 4px 1px black;
}

.inner-stat{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#no-tasks{
    color: white;
    background-color: rgba(139, 0, 0, 0.6);
    border-left: 10px solid rgb(139, 0, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
}

#no-tasks a{
    text-decoration: none;
    color: darkblue;
}

.task-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-not-done{
    color: darkred;
}

.task-done{
    color: darkgreen;
}

.task-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.task-actions{
    background-color: #ebeced;
    width: fit-content;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.action-item{
    text-decoration: none;
    color: black;
}

.action-item:hover{
    text-decoration: underline;
}

.edit-task-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form_elem_edit{
    width: 100%;
}

/* Footer styles */
.pages-footer{
    background-color: #232629;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-elem{
    text-decoration: none;
    color: #babfc4;
}

.footer-elem:hover{
    text-decoration: underline;
}

/* carousel styles */
.slider {
    width: 100%;
    margin: 30px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

#stats-section{
    width: 100%;
    margin-top: 10px;
}

#stats-section h3{
    color: white;
}

.box{
    background-color: #232629;
    padding: 8px;
    border-radius: 5px;
    color: white;
}

.inner-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Settings styles */
#personal-info-block, #security-info-block, #account-info-block, #privacy-block{
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ebeced;
    border: 3px solid black;
    box-shadow: 10px 10px 1px black;
}

#security-info-block{
    margin-top: 35px;
}

#account-info-block{
    margin-top: 35px;
}

#personal-info-block legend, #security-info-block legend, #account-info-block legend, #privacy-block legend{
    font-weight: bold;
    background-color: #232629;
    color: white;
    padding: 6px;
    border-radius: 4px;
}

.inputs{
    width: 90%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: block;
    border: none;
    background: #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    transition-duration: 0.4s;
    font-family: 'Ubuntu', sans-serif;
}

.inputs:focus{
    background-color: #ddd;
    outline: none;
    box-shadow: 3px 3px 2px black;
}

#profile-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#setting-prof-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.01);
    object-fit: cover;
}

#del-acc, #del-acc-confirm{
    margin-top: 10px;
    width: fit-content;
    background-color: #30363D;
    padding: 8px;
    color: #f85149;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #373b42;
    transition: all 0.3s;
    text-decoration: none;
    display: block;
}

#del-acc:hover, #del-acc-confirm:hover{
    background-color: #f63f4b;
    border-color: #f85149;
    color: white;
}

#conf-msg{
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(207, 34, 46, 0.4);
    border-top: 1px solid rgb(207, 34, 46);
    border-bottom: 1px solid rgb(207, 34, 46);
    color: #2a2d30;
    text-align: justify;
}

#note-container{
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ebeced;
    border: 3px solid black;
    box-shadow: 10px 10px 1px black;
}

#add-note{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #26890d;
    padding: 5px;
    border-radius: 25px;
    padding-right: 10px;
    cursor: pointer;
}

#add-note:hover {
    transform: scale(1.04);
  }

#empty-msg{
    text-align: center;
}

.note-form{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    gap: 2px;
}

#note-header{
    margin-bottom: 4px;
    text-align: center;
    width: fit-content;
    background-color: rgb(23, 44, 52);
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#note-title{
    padding: 5px;
}

#note-list{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    margin-top: 10px;
}

.note-elem p::selection{
    color: black;
    background-color: orange;
}

.note-elem{
    width: 31.9%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.act-panel{
    display: block;
    margin-left: auto;
    color: white;
}

.panel-elem{
    color: rgb(23, 44, 52);
}

.panel-elem:hover{
    color: black;
}

.setting-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border: 1px solid rgb(23, 44, 52);
    margin-bottom: 4px;
    border-radius: 4px;
}

.setting-header{
    background-color: rgb(23, 44, 52);
    color: white;
    padding: 5px;
}

#res-block{
    border: 3px solid black;
    box-shadow: 10px 10px 1px black;
    padding: 30px;
    border-radius: 10px;
    background-color: #ebeced;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.person-item{
    width: 46%;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.user-details{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.person-item:hover{
    background-color: #232629;
    color: white;
    box-shadow: 3px 3px 2px black;
}

.person-item-zone{
    width: 31.2%;
    border: 4px solid black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.person-item-zone:hover{
    background-color: #232629;
    color: white;
    box-shadow: 3px 3px 2px black;
}

.add-friend-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #26890d;
}

.del-friend-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: darkred;
}

#friends-zone{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#no-friends-banner{
    padding: 10px;
    text-align: center;
}

#friend-phrase{
    padding: 10px;
}

#friend-count{
    background-color: rgb(23, 44, 52);
    color: white;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

.notification-wrapper{
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: flex-end;
    cursor: pointer;
}

.notification-count{
    background-color: rgb(216, 59, 1);
    border: 1px solid rgb(255, 147, 73);
    padding: 3px;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#notification-menu {
    background: #232629;
    position: fixed;
    width: 250px;
    transition: all 600ms ease 0s;
    height: 100%;
    top: 48px;
    right: -310px;
    padding: 30px;
    z-index: 10;
}

#notification-menu ul {
    margin: 16px 0;
    padding: 0;
    color: white;
    list-style: none;
}

#notification-menu ul li {
    margin: 16px 0;
    transition: all 0.25s ease-in-out;
}

#notification-menu ul li:hover {
    color: #bdc3c7;
    cursor: pointer;
    background-color: rgb(23, 44, 52);
    padding: 8px 3px 8px 3px;
    border-radius: 5px;
}

#notification-menu.active {
    right: 0px;
    transition: all 0.75s ease-in-out;
}

.noti-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.date-dot{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.blue-dot{
    height: 12px;
    width: 12px;
    background-color: #2E89FF;
    border-radius: 50%;
}