<link rel="stylesheet" href="https://kenan0x0.github.io/to-do-flask/app/static/assets/css/clock.css">
<script src="https://kenan0x0.github.io/to-do-flask/app/static/assets/js/clock.js"></script>
<div class="content">
    <div class="timeDiv">
      <span class="font-color" id="time"></span>
      <span class="font-color" id="sec"></span>
      <span class="font-color" id="med"></span>
    </div>
    <div class="dayDiv">
      <span class="font-color day">SUN</span>
      <span class="font-color day">MON</span>
      <span class="font-color day">TUE</span>
      <span class="font-color day">WED</span>
      <span class="font-color day">THU</span>
      <span class="font-color day">FRI</span>
      <span class="font-color day">SAT</span>
    </div>
    <span class="font-color" id="full-date"></span>
</div>d