<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/custom.css') }}">
    <title>Login Page - To Do List</title>
</head>
<body>


    <div id="form-container">
        <form method="post" id="login-form">
            <h3 id="login-ph">To-Do-List | Login Form</h3>
            <label for="login-username">
                Username
                <input type="text" name="login-username" id="login-username" placeholder="Username" required>
            </label>
            <label for="login-password">
                Password
                <input type="password" name="login-password" id="login-password" placeholder="*********" required>
            </label>
            <input type="submit" value="Login">
            <small>No account yet? You can create one <a href="{{ url_for('register') }}">here</a>.</small>
            {% if msg is not none %}
                <div id="err-block">
                    <small id="err-msg-{{cate}}">{{msg}}</small>
                </div>
            {% endif %}
        </form>
    </div>

    <script>
        setTimeout(() => {
            document.getElementById("err-block").remove();
        }, 5000);
    </script>
    
</body>
</html>

<!-- current_user.is_authenticated -->
<!-- current_user.email -->