<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">

    <!-- Navbar -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://kenan0x0.github.io/to-do-flask/app/static/assets/js/jquery.jside.menu.js"></script>
    <link rel="stylesheet" href="https://kenan0x0.github.io/to-do-flask/app/static/assets/css/jside-menu.css">
    <link rel="stylesheet" href="https://kenan0x0.github.io/to-do-flask/app/static/assets/css/jside-skins.css">


    <!-- Jquery modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <!-- Jquery Filer -->
    <script src="https://cdn.jsdelivr.net/npm/jquery.filer@1.3.0/js/jquery.filer.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.filer@1.3.0/css/jquery.filer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.filer@1.3.0/css/themes/jquery.filer-dragdropbox-theme.css">

    <!-- Slim Select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" rel="stylesheet"></link>


    <!-- Global -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/custom.css') }}">
    <title>Add Task - To Do List</title>
</head>
<body>

    <menu class="menubar">
        <menuitem>
           <button class="menu-trigger"> <i class="material-icons">menu</i> </button>
        </menuitem>
    </menu>
    <div class="menu-body visibility">
    <div class="menu-head">
        <span class="layer">
            <div class="col">
                <div class="row for-pic">
                <div class="profile-pic">     
                    <img src="{{prof_pic}}" alt="Profile Image" /> 
                </div>
                </div>
                <div class="row for-name">
                <h3 title="Username">{{user_name}}</h3>
                <span class="tagline">User</span>
                </div>
            </div>
        </span>
    </div>
    <nav class="menu-container">
        <ul class="menu-items">
            <li><a href="/"> <i class="material-icons">speed</i>Dashboard</a></li>
            <li><a href="/add-task"> <i class="material-icons">edit</i>Add Task</a></li>
            <li> <a href="/tasks-list">  <i class="material-icons">checklist</i>Tasks List</a></li>
            <li> <a href="/notes">  <i class="material-icons">note_add</i>Notes</a></li>
            <li> <a href="#">  <i class="material-icons">settings</i>Settings</a></li>
            <li> <a href="/logout">  <i class="material-icons">logout</i>Logout</a></li>
        </ul>
    </nav>
    </div>


    <!-- Page content goes here -->
    <div class="page-cont">
        <h3>Settings</h3>
        <hr>
        <fieldset id="personal-info-block">
            <legend>Personal Information</legend>
            <form id="personal-info-form" method="post" enctype=multipart/form-data autocomplete="off">
                <input type="hidden" name="action" value="per">
                <label for="username">
                    Username
                    {% if user.user %}
                        {% set username_val = user.user %}
                    {% else %}
                        {% set username_val = "" %}
                    {% endif %}
                    <input class="inputs" type="text" name="username" id="username" value="{{username_val}}" placeholder="Add Username">
                </label>
                <label for="full_name">
                    Full Name
                    {% if user.full_name %}
                        {% set fullname_val = user.full_name %}
                    {% else %}
                        {% set fullname_val = "" %}
                    {% endif %}
                    <input class="inputs" type="text" name="full_name" id="full_name" value="{{fullname_val}}" placeholder="Add Full Name">
                </label>
                <label for="city">
                    City
                    {% if user.city %}
                        {% set city_val = user.city %}
                    {% else %}
                        {% set city_val = "" %}
                    {% endif %}
                    <input class="inputs" type="text" name="city" id="city" value="{{city_val}}" placeholder="Add City">
                </label>
                <label for="profile-img">
                    Profile Picture
                    <div id="profile-img">
                        <img src="{{prof_pic}}" id="setting-prof-pic" alt="Profile Image" />
                        <input type="file" name="setting-profile-image" id="setting-profile-image">
                    </div>
                </label>
                <input type="submit" value="Update Personal Information">
            </form>
         </fieldset>

         <fieldset id="security-info-block">
            <legend>Security Information</legend>
            <form id="security-info-form" method="post" autocomplete="off">
                <input type="hidden" name="action" value="pas">
                <label for="password">
                    Change Password
                    <input class="inputs" type="password" name="password" id="password" onkeyup="passwordMatching();">
                </label>
                <label for="confirm-password">
                    Confirm Password
                    <input class="inputs" type="password" name="confirm-password" id="confirm-password" onkeyup="passwordMatching();">
                </label>
                <p id="message"></p>
                <input type="submit" value="Update Password" id="pswd-btn" disabled>
            </form>
         </fieldset>

         <fieldset id="account-info-block">
            <legend>Account Control</legend>
            <i>Please keep in mind that the following action is irreversible and all your information will be lost forever.</i>
            <a id="del-acc" href="#del-acc-modal" rel="modal:open">Delete Account</a>
         </fieldset>
        </div>
    </div>

    <div id="del-acc-modal" class="modal">
        <h3>Are you sure</h3>
        <hr>
        <div id="conf-msg">
            <p>By confirming this action, you understand that your account will be deleted forever and all you information will be lost with it.</p>
            <p>If you wish to proceed, click the confirmation button below!</p>
        </div>
        <a id="del-acc-confirm" href="/del-account/{{user.id}}">Confirm</a>
    </div>


    <script>
        $(function(){
        $(".menu-container").jSideMenu({
            jSidePosition: "position-left",
            jSideSticky: true,
            jSideSkin: "moonlit",
             });
        }); 
    </script>

    <script>
        $("#setting-profile-image").filer({
            limit: 1,
            fileMaxSize: 10,
            extensions: ["jpg", "png", "jpeg"],
            showThumbs: true
      });
    </script>

    <script>
        function passwordMatching(){
            let passwd = document.getElementById("password").value;
            let confPswd = document.getElementById("confirm-password").value;
            let pswdBtn = document.getElementById("pswd-btn");
            let warmMsg = document.getElementById("message");

            if(passwd === "" && confPswd === ""){
                pswdBtn.disabled = true;
                warmMsg.innerHTML = "";
            }else if(passwd === confPswd){
                pswdBtn.disabled = false;
                warmMsg.innerHTML = "Matching";
                warmMsg.style.color = "darkgreen";
            }else{
                pswdBtn.disabled = true;
                warmMsg.innerHTML = "Not Matching";
                warmMsg.style.color = "darkred";
            }

        }
    </script>

    {% include "footer.html" %}
</body>
</html>