<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">

    <!-- Navbar -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://kenan0x0.github.io/to-do-flask/app/static/assets/js/jquery.jside.menu.js"></script>
    <link rel="stylesheet" href="https://kenan0x0.github.io/to-do-flask/app/static/assets/css/jside-menu.css">
    <link rel="stylesheet" href="https://kenan0x0.github.io/to-do-flask/app/static/assets/css/jside-skins.css">


    <!-- Jquery modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


    <!-- Slim Select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" rel="stylesheet"></link>


    <!-- Global -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/css/custom.css') }}">
    <title>Add Task - To Do List</title>
</head>
<body>
    <div class="notification-wrapper" id="trigger">
        <i class="material-icons">notifications</i></a>
        {% if notifications|length > 0 %}
            <p title="{{notifications|length}} notification(s)" class="notification-count"><span>{{notifications|length}}</span></p>
        {% endif %}
    </div>

    {% if notifications|length > 0 %}
        <div id="notification-menu">
            <ul>
                {% for noti in notifications %}
                    <li><div class="noti-item"><p>{{noti.notification}}</p><i class="material-icons" onclick="location.href = '/delete-notification/{{noti.id}}'">clear</i></div></li>
                    <hr>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <menu class="menubar">
        <menuitem>
           <button class="menu-trigger"> <i class="material-icons">menu</i> </button>
        </menuitem>
    </menu>
    <div class="menu-body visibility">
    <div class="menu-head">
        <span class="layer">
            <div class="col">
                <div class="row for-pic">
                <div class="profile-pic">     
                    <img src="{{prof_pic}}" alt="Profile Image" /> 
                </div>
                </div>
                <div class="row for-name">
                <h3 title="Username">{{user_name}}</h3>
                <span class="tagline">User</span>
                </div>
            </div>
        </span>
    </div>
    <nav class="menu-container">
        <ul class="menu-items">
            <li><a href="/"> <i class="material-icons">speed</i>Dashboard</a></li>
            <li><a href="/add-task"> <i class="material-icons">edit</i>Add Task</a></li>
            <li> <a href="/#">  <i class="material-icons">checklist</i>Tasks List</a></li>
            <li> <a href="/notes">  <i class="material-icons">note_add</i>Notes</a></li>
            <li> <a href="/friends">  <i class="material-icons">group</i>People</a></li>
            <li> <a href="/settings">  <i class="material-icons">settings</i>Settings</a></li>
            <li> <a href="/logout">  <i class="material-icons">logout</i>Logout</a></li>
        </ul>
    </nav>
    </div>


    <!-- Page content goes here -->
    <div class="page-cont">
        <h3>Tasks list</h3>
        <div id="tasks-elem">
            {% if user_tasks|length == 0 %}
                <p id="no-tasks">You haven't created any tasks yet. Start <a href="/add-task">here</a>.</p>
            {% else %}
                {% for task in user_tasks %}
                    <div class="ind-task">
                        <div class="task-header">
                            <h3>{{task.task_title}}</h3>
                            <div class="inner-stat" title="Task Date"><i class="material-icons">event</i>{{task.task_date}}</div>
                        </div>
                        <div class="inner-stat" title="Task Description"><i class="material-icons">description</i>{{task.task_body}}</div><br>

                        <div class="task-footer">
                            <div class="inner-stat" title="Task Category"><i class="material-icons">category</i>{{task.task_category}}</div>
                            {% if task.task_completed %}
                                {% set var_class='task-done' %}
                                {% set var_text='Task finished' %}
                            {% else %}
                                {% set var_class='task-not-done' %}
                                {% set var_text='Task in progress' %}
                            {% endif %}
                            <i class="{{var_class}}">{{var_text}}</i>
                        </div>
                        <div class="task-actions">
                            <a class="action-item" href="/handleTasks/{{task.id}}/fk">Finish and save |</a>
                            <a class="action-item" href="/handleTasks/{{task.id}}/fd">Finish and delete |</a>
                            <a class="action-item" href="/handleTasks/{{task.id}}/ro">Reopen |</a>
                            <a class="action-item" href="#edit-modal-{{task.id}}" rel="modal:open">Edit</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>  
    </div>

    {% for task in user_tasks %}
    <div class="modal" id="edit-modal-{{task.id}}">
        <h3>Edit Task</h3>
        <hr>
        <form class="edit-task-form" method="post" autocomplete="off">
            
            <label class="form_elem_edit" for="task-title-{{task.id}}">
                Task Title
                <input type="text" name="task-title-{{task.id}}" id="task-title-{{task.id}}" value="{{task.task_title}}">
            </label>

            <label class="form_elem_edit" for="task-body-{{task.id}}">
                Task Body
                <textarea name="task-body-{{task.id}}" id="task-body-{{task.id}}">{{task.task_body}}</textarea>
            </label>

            <label class="form_elem_edit" for="label-{{task.id}}">
                Task Label
                <input type="text" name="label-{{task.id}}" id="label-{{task.id}}" value="{{task.task_category}}">
            </label>

            <label class="form_elem_edit" for="task_date-{{task.id}}">
                Task Date
                <input type="date" name="task_date-{{task.id}}" id="task_date-{{task.id}}" value="{{task.task_date}}">
            </label>
            <input type="button" value="Edit Task" onclick="editTask('{{task.id}}')">
        </form>
    </div>
    {% endfor %}
     
     


     <script>
     $(function(){
     $(".menu-container").jSideMenu({
         jSidePosition: "position-left",
         jSideSticky: true,
         jSideSkin: "moonlit",
          });
     }); 
     </script>

     <script>

        function editTask(taskId){
            let taskTitle = document.getElementById("task-title-" + taskId).value;
            let taskBody = document.getElementById("task-body-" + taskId).value;
            let taskLabel = document.getElementById("label-" + taskId).value;
            let taskDate = document.getElementById("task_date-" + taskId).value;

            var formData = new FormData();
            formData.append("task_title", taskTitle);
            formData.append("task_body", taskBody);
            formData.append("task_category", taskLabel);
            formData.append("task_date", taskDate);

            $.ajax({
                type: 'POST',
                url: '/handleTasks/' + taskId + '/edit',
                contentType: false,
                processData: false,
                data: formData,
            });

            location.reload();
        }
     </script>

    <script>
        $("#trigger").click(function() {
            $("#notification-menu").toggleClass("active");
        });

        $("#trigger").click(function() {
            $("#trigger").toggleClass("active");
        });
    </script>
    


    {% include "footer.html" %}
</body>
</html>